.sidebar {
	background-color: #fff;
	z-index: 2;
	position: fixed;
	left: -75%;
	width: 75%;
	height: 100%;
	-webkit-transition: left 0.2s ease-out 0.5s;
	-moz-transition: left 0.2s ease-out 0.5s;
	-o-transition: left 0.2s ease-out 0.5s;
	transition: left 0.2s ease-out 0.5s;
}
.sidebar.active {
	left: 0;
}
.content {
	width: 100%;
	margin-left: 0;
}

#map{
	z-index: 1;

}
.gm-style-iw {
	padding-left: 11px;
}
.gm-style-iw + div {
	
	display: none;
}
